# Report Generator
The python script CreateDatabaseBikeSales was used to create a SQL Server DataBase. The tool used was SQL Server Explorer in Visual Studio where a local db instance was created and data was loaded. The following scripts attempts to connect to the sql server and executes queries

In [83]:
import pyodbc 
import pandas as pd


conn = pyodbc.connect( '''Driver={SQL Server Native Client 11.0};
                        Server=(localdb)\ProjectsV13;
                        Database=OrderManagement;
                        port=1433;
                        Trusted_Connection=yes'''   )


cursor = conn.cursor()
cursor.execute('SELECT * FROM OrderManagement.production.stocks')

for row in cursor:
    print(row)

(1, 1, 27)
(1, 2, 5)
(1, 3, 6)
(1, 4, 23)
(1, 5, 22)
(1, 6, 0)
(1, 7, 8)
(1, 8, 0)
(1, 9, 11)
(1, 10, 15)
(1, 11, 8)
(1, 12, 16)
(1, 13, 13)
(1, 14, 8)
(1, 15, 3)
(1, 16, 4)
(1, 17, 2)
(1, 18, 16)
(1, 19, 4)
(1, 20, 26)
(1, 21, 24)
(1, 22, 29)
(1, 23, 9)
(1, 24, 10)
(1, 25, 10)
(1, 26, 16)
(1, 27, 21)
(1, 28, 20)
(1, 29, 13)
(1, 30, 30)
(1, 31, 2)
(1, 32, 0)
(1, 33, 10)
(1, 34, 2)
(1, 35, 18)
(1, 36, 26)
(1, 37, 12)
(1, 38, 13)
(1, 39, 2)
(1, 40, 24)
(1, 41, 10)
(1, 42, 0)
(1, 43, 2)
(1, 44, 1)
(1, 45, 15)
(1, 46, 19)
(1, 47, 21)
(1, 48, 5)
(1, 49, 8)
(1, 50, 29)
(1, 51, 2)
(1, 52, 18)
(1, 53, 17)
(1, 54, 11)
(1, 55, 11)
(1, 56, 15)
(1, 57, 1)
(1, 58, 1)
(1, 59, 22)
(1, 60, 19)
(1, 61, 30)
(1, 62, 21)
(1, 63, 4)
(1, 64, 30)
(1, 65, 10)
(1, 66, 12)
(1, 67, 19)
(1, 68, 30)
(1, 69, 4)
(1, 70, 3)
(1, 71, 25)
(1, 72, 9)
(1, 73, 7)
(1, 74, 9)
(1, 75, 23)
(1, 76, 15)
(1, 77, 16)
(1, 78, 13)
(1, 79, 13)
(1, 80, 11)
(1, 81, 25)
(1, 82, 1)
(1, 83, 13)
(1, 84, 11)
(1, 85, 23)
(1, 86, 19)
(1, 87, 27)
(1, 88, 7)
(1, 89, 9)
(1, 90, 4)
(1, 91, 8)
(1, 92, 0)
(1, 93, 22)
(1, 94, 6)
(1, 95, 25)
(1, 96, 20)
(1, 97, 20)
(1, 98, 28)
(1, 99, 28)
(1, 100, 15)
(1, 101, 17)
(1, 102, 9)
(1, 103, 13)
(1, 104, 25)
(1, 105, 7)
(1, 106, 30)
(1, 107, 20)
(1, 108, 15)
(1, 109, 30)
(1, 110, 1)
(1, 111, 11)
(1, 112, 17)
(1, 113, 24)
(1, 114, 3)
(1, 115, 10)
(1, 116, 24)
(1, 117, 15)
(1, 118, 12)
(1, 119, 17)
(1, 120, 23)
(1, 121, 19)
(1, 122, 22)
(1, 123, 8)
(1, 124, 23)
(1, 125, 22)
(1, 126, 28)
(1, 127, 12)
(1, 128, 11)
(1, 129, 21)
(1, 130, 22)
(1, 131, 20)
(1, 132, 1)
(1, 133, 9)
(1, 134, 26)
(1, 135, 15)
(1, 136, 12)
(1, 137, 12)
(1, 138, 6)
(1, 139, 17)
(1, 140, 3)
(1, 141, 21)
(1, 142, 22)
(1, 143, 19)
(1, 144, 7)
(1, 145, 5)
(1, 146, 6)
(1, 147, 8)
(1, 148, 6)
(1, 149, 1)
(1, 150, 22)
(1, 151, 24)
(1, 152, 12)
(1, 153, 25)
(1, 154, 13)
(1, 155, 8)
(1, 156, 13)
(1, 157, 25)
(1, 158, 11)
(1, 159, 18)
(1, 160, 0)
(1, 161, 17)
(1, 162, 14)
(1, 163, 0)
(1, 164, 15)
(1, 165, 16)
(1, 166, 23)
(1, 167, 28)
(1, 168, 0)
(1, 169, 25)
(1, 170, 14)
(1, 171, 3)
(1, 172, 3)
(1, 173, 2)
(1, 174, 26)
(1, 175, 2)
(1, 176, 11)
(1, 177, 19)
(1, 178, 23)
(1, 179, 16)
(1, 180, 5)
(1, 181, 19)
(1, 182, 28)
(1, 183, 11)
(1, 184, 4)
(1, 185, 3)
(1, 186, 1)
(1, 187, 16)
(1, 188, 30)
(1, 189, 6)
(1, 190, 21)
(1, 191, 21)
(1, 192, 20)
(1, 193, 30)
(1, 194, 24)
(1, 195, 1)
(1, 196, 26)
(1, 197, 22)
(1, 198, 1)
(1, 199, 2)
(1, 200, 27)
(1, 201, 16)
(1, 202, 5)
(1, 203, 4)
(1, 204, 23)
(1, 205, 9)
(1, 206, 10)
(1, 207, 27)
(1, 208, 13)
(1, 209, 22)
(1, 210, 25)
(1, 211, 13)
(1, 212, 17)
(1, 213, 14)
(1, 214, 4)
(1, 215, 1)
(1, 216, 11)
(1, 217, 11)
(1, 218, 27)
(1, 219, 30)
(1, 220, 4)
(1, 221, 7)
(1, 222, 12)
(1, 223, 3)
(1, 224, 16)
(1, 225, 24)
(1, 226, 18)
(1, 227, 19)
(1, 228, 22)
(1, 229, 27)
(1, 230, 7)
(1, 231, 25)
(1, 232, 5)
(1, 233, 5)
(1, 234, 13)
(1, 235, 7)
(1, 236, 18)
(1, 237, 26)
(1, 238, 20)
(1, 239, 28)
(1, 240, 17)
(1, 241, 17)
(1, 242, 10)
(1, 243, 11)
(1, 244, 10)
(1, 245, 3)
(1, 246, 0)
(1, 247, 15)
(1, 248, 14)
(1, 249, 27)
(1, 250, 3)
(1, 251, 2)
(1, 252, 28)
(1, 253, 16)
(1, 254, 24)
(1, 255, 13)
(1, 256, 20)
(1, 257, 17)
(1, 258, 25)
(1, 259, 10)
(1, 260, 20)
(1, 261, 3)
(1, 262, 6)
(1, 263, 21)
(1, 264, 16)
(1, 265, 28)
(1, 266, 1)
(1, 267, 27)
(1, 268, 23)
(1, 269, 22)
(1, 270, 16)
(1, 271, 6)
(1, 272, 14)
(1, 273, 20)
(1, 274, 19)
(1, 275, 28)
(1, 276, 7)
(1, 277, 13)
(1, 278, 17)
(1, 279, 17)
(1, 280, 23)
(1, 281, 11)
(1, 282, 6)
(1, 283, 10)
(2, 1, 14)
(2, 2, 16)
(2, 3, 28)
(2, 4, 2)
(2, 5, 1)
(2, 6, 11)
(2, 7, 8)
(2, 8, 1)
(2, 9, 17)
(2, 10, 13)
(2, 11, 21)
(2, 12, 2)
(2, 13, 1)
(2, 14, 18)
(2, 15, 6)
(2, 16, 20)
(2, 17, 3)
(2, 18, 13)
(2, 19, 15)
(2, 20, 20)
(2, 21, 16)
(2, 22, 0)
(2, 23, 12)
(2, 24, 16)
(2, 25, 18)
(2, 26, 2)
(2, 27, 10)
(2, 28, 25)
(2, 29, 29)
(2, 30, 17)
(2, 31, 10)
(2, 32, 13)
(2, 33, 8)
(2, 34, 24)
(2, 35, 25)
(2, 36, 15)
(2, 37, 5)
(2, 38, 18)
(2, 39, 28)
(2, 40, 15)
(2, 41, 6)
(2, 42, 16)
(2, 43, 2)
(2, 44, 24)
(2, 45, 13)
(2, 46, 18)
(2, 47, 0)
(2, 48, 20)
(2, 49, 4)
(2, 50, 7)
(2, 51, 8)
(2, 52, 23)
(2, 53, 19)
(2, 54, 6)
(2, 55, 5)
(2, 56, 20)
(2, 57, 27)
(2, 58, 15)
(2, 59, 17)
(2, 60, 1)
(2, 61, 20)
(2, 62, 4)
(2, 63, 5)
(2, 64, 30)
(2, 65, 16)
(2, 66, 22)
(2, 67, 8)
(2, 68, 23)
(2, 69, 22)
(2, 70, 6)
(2, 71, 30)
(2, 72, 1)
(2, 73, 20)
(2, 74, 23)
(2, 75, 11)
(2, 76, 20)
(2, 77, 25)
(2, 78, 4)
(2, 79, 29)
(2, 80, 27)
(2, 81, 19)
(2, 82, 4)
(2, 83, 21)
(2, 84, 22)
(2, 85, 6)
(2, 86, 24)
(2, 87, 14)
(2, 88, 8)
(2, 89, 8)
(2, 90, 26)
(2, 91, 0)
(2, 92, 22)
(2, 93, 22)
(2, 94, 2)
(2, 95, 10)
(2, 96, 22)
(2, 97, 15)
(2, 98, 14)
(2, 99, 24)
(2, 100, 12)
(2, 101, 4)
(2, 102, 12)
(2, 103, 1)
(2, 104, 26)
(2, 105, 3)
(2, 106, 7)
(2, 107, 29)
(2, 108, 29)
(2, 109, 25)
(2, 110, 7)
(2, 111, 6)
(2, 112, 1)
(2, 113, 7)
(2, 114, 12)
(2, 115, 19)
(2, 116, 17)
(2, 117, 18)
(2, 118, 25)
(2, 119, 23)
(2, 120, 16)
(2, 121, 3)
(2, 122, 11)
(2, 123, 18)
(2, 124, 4)
(2, 125, 10)
(2, 126, 13)
(2, 127, 12)
(2, 128, 28)
(2, 129, 21)
(2, 130, 17)
(2, 131, 9)
(2, 132, 6)
(2, 133, 28)
(2, 134, 13)
(2, 135, 30)
(2, 136, 8)
(2, 137, 1)
(2, 138, 16)
(2, 139, 24)
(2, 140, 13)
(2, 141, 28)
(2, 142, 24)
(2, 143, 12)
(2, 144, 4)
(2, 145, 23)
(2, 146, 3)
(2, 147, 13)
(2, 148, 27)
(2, 149, 22)
(2, 150, 7)
(2, 151, 2)
(2, 152, 21)
(2, 153, 21)
(2, 154, 9)
(2, 155, 21)
(2, 156, 8)
(2, 157, 28)
(2, 158, 0)
(2, 159, 30)
(2, 160, 4)
(2, 161, 9)
(2, 162, 18)
(2, 163, 30)
(2, 164, 9)
(2, 165, 6)
(2, 166, 27)
(2, 167, 1)
(2, 168, 29)
(2, 169, 1)
(2, 170, 2)
(2, 171, 28)
(2, 172, 16)
(2, 173, 17)
(2, 174, 8)
(2, 175, 0)
(2, 176, 26)
(2, 177, 9)
(2, 178, 1)
(2, 179, 16)
(2, 180, 3)
(2, 181, 29)
(2, 182, 21)
(2, 183, 26)
(2, 184, 0)
(2, 185, 4)
(2, 186, 16)
(2, 187, 10)
(2, 188, 27)
(2, 189, 13)
(2, 190, 18)
(2, 191, 15)
(2, 192, 0)
(2, 193, 21)
(2, 194, 15)
(2, 195, 19)
(2, 196, 28)
(2, 197, 10)
(2, 198, 0)
(2, 199, 13)
(2, 200, 11)
(2, 201, 24)
(2, 202, 1)
(2, 203, 7)
(2, 204, 25)
(2, 205, 13)
(2, 206, 9)
(2, 207, 8)
(2, 208, 12)
(2, 209, 11)
(2, 210, 10)
(2, 211, 4)
(2, 212, 22)
(2, 213, 10)
(2, 214, 7)
(2, 215, 11)
(2, 216, 19)
(2, 217, 22)
(2, 218, 26)
(2, 219, 16)
(2, 220, 6)
(2, 221, 12)
(2, 222, 30)
(2, 223, 7)
(2, 224, 4)
(2, 225, 11)
(2, 226, 5)
(2, 227, 12)
(2, 228, 7)
(2, 229, 29)
(2, 230, 25)
(2, 231, 8)
(2, 232, 11)
(2, 233, 25)
(2, 234, 12)
(2, 235, 4)
(2, 236, 7)
(2, 237, 30)
(2, 238, 6)
(2, 239, 17)
(2, 240, 19)
(2, 241, 24)
(2, 242, 2)
(2, 243, 18)
(2, 244, 1)
(2, 245, 18)
(2, 246, 10)
(2, 247, 16)
(2, 248, 26)
(2, 249, 10)
(2, 250, 23)
(2, 251, 0)
(2, 252, 20)
(2, 253, 29)
(2, 254, 7)
(2, 255, 12)
(2, 256, 8)
(2, 257, 5)
(2, 258, 10)
(2, 259, 16)
(2, 260, 20)
(2, 261, 4)
(2, 262, 8)
(2, 263, 4)
(2, 264, 13)
(2, 265, 4)
(2, 266, 18)
(2, 267, 21)
(2, 268, 3)
(2, 269, 4)
(2, 270, 15)
(2, 271, 26)
(2, 272, 1)
(2, 273, 28)
(2, 274, 15)
(2, 275, 3)
(2, 276, 9)
(2, 277, 4)
(2, 278, 8)
(2, 279, 18)
(2, 280, 11)
(2, 281, 3)
(2, 282, 8)
(2, 283, 28)
(3, 1, 14)
(3, 2, 24)
(3, 3, 0)
(3, 4, 11)
(3, 5, 3)
(3, 6, 27)
(3, 7, 12)
(3, 8, 12)
(3, 9, 23)
(3, 10, 21)
(3, 11, 30)
(3, 12, 30)
(3, 13, 19)
(3, 14, 4)
(3, 15, 22)
(3, 16, 19)
(3, 17, 22)
(3, 18, 5)
(3, 19, 24)
(3, 20, 19)
(3, 21, 8)
(3, 22, 20)
(3, 23, 8)
(3, 24, 18)
(3, 25, 15)
(3, 26, 27)
(3, 27, 21)
(3, 28, 20)
(3, 29, 11)
(3, 30, 23)
(3, 31, 10)
(3, 32, 14)
(3, 33, 14)
(3, 34, 6)
(3, 35, 3)
(3, 36, 28)
(3, 37, 30)
(3, 38, 23)
(3, 39, 22)
(3, 40, 2)
(3, 41, 25)
(3, 42, 9)
(3, 43, 26)
(3, 44, 26)
(3, 45, 1)
(3, 46, 16)
(3, 47, 14)
(3, 48, 2)
(3, 49, 4)
(3, 50, 25)
(3, 51, 2)
(3, 52, 8)
(3, 53, 6)
(3, 54, 13)
(3, 55, 5)
(3, 56, 19)
(3, 57, 9)
(3, 58, 27)
(3, 59, 0)
(3, 60, 7)
(3, 61, 28)
(3, 62, 4)
(3, 63, 8)
(3, 64, 22)
(3, 65, 1)
(3, 66, 3)
(3, 67, 6)
(3, 68, 18)
(3, 69, 29)
(3, 70, 2)
(3, 71, 13)
(3, 72, 6)
(3, 73, 3)
(3, 74, 17)
(3, 75, 29)
(3, 76, 23)
(3, 77, 23)
(3, 78, 19)
(3, 79, 29)
(3, 80, 22)
(3, 81, 18)
(3, 82, 7)
(3, 83, 23)
(3, 84, 15)
(3, 85, 15)
(3, 86, 27)
(3, 87, 16)
(3, 88, 28)
(3, 89, 22)
(3, 90, 9)
(3, 91, 8)
(3, 92, 28)
(3, 93, 18)
(3, 94, 15)
(3, 95, 14)
(3, 96, 1)
(3, 97, 28)
(3, 98, 5)
(3, 99, 19)
(3, 100, 28)
(3, 101, 17)
(3, 102, 22)
(3, 103, 10)
(3, 104, 22)
(3, 105, 1)
(3, 106, 1)
(3, 107, 11)
(3, 108, 23)
(3, 109, 24)
(3, 110, 11)
(3, 111, 29)
(3, 112, 24)
(3, 113, 23)
(3, 114, 12)
(3, 115, 25)
(3, 116, 30)
(3, 117, 23)
(3, 118, 9)
(3, 119, 29)
(3, 120, 25)
(3, 121, 4)
(3, 122, 8)
(3, 123, 15)
(3, 124, 11)
(3, 125, 2)
(3, 126, 5)
(3, 127, 4)
(3, 128, 20)
(3, 129, 10)
(3, 130, 20)
(3, 131, 23)
(3, 132, 16)
(3, 133, 16)
(3, 134, 17)
(3, 135, 15)
(3, 136, 4)
(3, 137, 17)
(3, 138, 17)
(3, 139, 21)
(3, 140, 3)
(3, 141, 4)
(3, 142, 29)
(3, 143, 9)
(3, 144, 9)
(3, 145, 11)
(3, 146, 9)
(3, 147, 3)
(3, 148, 6)
(3, 149, 1)
(3, 150, 21)
(3, 151, 1)
(3, 152, 1)
(3, 153, 7)
(3, 154, 22)
(3, 155, 25)
(3, 156, 14)
(3, 157, 12)
(3, 158, 17)
(3, 159, 6)
(3, 160, 27)
(3, 161, 11)
(3, 162, 11)
(3, 163, 11)
(3, 164, 18)
(3, 165, 19)
(3, 166, 27)
(3, 167, 8)
(3, 168, 23)
(3, 169, 3)
(3, 170, 13)
(3, 171, 11)
(3, 172, 22)
(3, 173, 15)
(3, 174, 1)
(3, 175, 3)
(3, 176, 6)
(3, 177, 2)
(3, 178, 12)
(3, 179, 20)
(3, 180, 6)
(3, 181, 8)
(3, 182, 28)
(3, 183, 26)
(3, 184, 21)
(3, 185, 15)
(3, 186, 30)
(3, 187, 2)
(3, 188, 29)
(3, 189, 20)
(3, 190, 20)
(3, 191, 23)
(3, 192, 10)
(3, 193, 5)
(3, 194, 20)
(3, 195, 20)
(3, 196, 25)
(3, 197, 8)
(3, 198, 27)
(3, 199, 5)
(3, 200, 29)
(3, 201, 30)
(3, 202, 11)
(3, 203, 6)
(3, 204, 16)
(3, 205, 3)
(3, 206, 29)
(3, 207, 29)
(3, 208, 12)
(3, 209, 1)
(3, 210, 22)
(3, 211, 3)
(3, 212, 23)
(3, 213, 10)
(3, 214, 30)
(3, 215, 12)
(3, 216, 5)
(3, 217, 4)
(3, 218, 21)
(3, 219, 29)
(3, 220, 0)
(3, 221, 25)
(3, 222, 12)
(3, 223, 29)
(3, 224, 23)
(3, 225, 12)
(3, 226, 14)
(3, 227, 22)
(3, 228, 29)
(3, 229, 7)
(3, 230, 29)
(3, 231, 6)
(3, 232, 16)
(3, 233, 9)
(3, 234, 24)
(3, 235, 1)
(3, 236, 3)
(3, 237, 16)
(3, 238, 12)
(3, 239, 29)
(3, 240, 26)
(3, 241, 8)
(3, 242, 5)
(3, 243, 7)
(3, 244, 5)
(3, 245, 10)
(3, 246, 7)
(3, 247, 3)
(3, 248, 11)
(3, 249, 6)
(3, 250, 16)
(3, 251, 10)
(3, 252, 27)
(3, 253, 15)
(3, 254, 4)
(3, 255, 17)
(3, 256, 1)
(3, 257, 25)
(3, 258, 10)
(3, 259, 0)
(3, 260, 5)
(3, 261, 24)
(3, 262, 29)
(3, 263, 21)
(3, 264, 7)
(3, 265, 22)
(3, 266, 18)
(3, 267, 12)
(3, 268, 17)
(3, 269, 26)
(3, 270, 6)
(3, 271, 23)
(3, 272, 12)
(3, 273, 19)
(3, 274, 7)
(3, 275, 23)
(3, 276, 14)
(3, 277, 26)
(3, 278, 15)
(3, 279, 15)
(3, 280, 1)
(3, 281, 2)
(3, 282, 18)
(3, 283, 1)

In [75]:
# Count total sales per category
query1 = '''select production.categories.category_name,sum(sales.order_items.quantity) as Total_Sales, sum(sales.order_items.list_price) as TotalRevenue
FROM sales.order_items
INNER JOIN production.products
ON sales.order_items.product_id=production.products.product_id
INNER JOIN production.categories
on production.products.category_id=production.categories.category_id
GROUP BY category_name
ORDER BY TotalRevenue DESC;'''

In [76]:
CategorySales=pd.read_sql_query(query1,conn)
CategorySales

         category_name  Total_Sales  TotalRevenue
0       Mountain Bikes         1755    2041458.35
1           Road Bikes          559    1235331.37
2    Cruisers Bicycles         2063     744315.71
3       Electric Bikes          315     677937.88
4  Cyclocross Bicycles          394     519704.45
5     Comfort Bicycles          746     255267.07
6    Children Bicycles         1132     208472.49

In [77]:
#Total Revenue till date
query2 = '''select '$' + cast(sum(list_price) as varchar(20)) as TotalRevenue
from OrderManagement.sales.order_items
'''

pd.read_sql_query(query2,conn)

  TotalRevenue
0  $5682487.32

In [79]:
#Total Sales in last 3 months
query3='''select sum(list_price) as TotalRevenue, count(sales.orders.order_id) as TotalOrders
from sales.orders
INNER JOIN sales.order_items
on sales.orders.order_id=sales.order_items.order_id
WHERE dateadd(day,-90,(select MAX(order_date) from sales.orders))<=sales.orders.order_date;
'''
pd.read_sql_query(query3,conn)

   TotalRevenue  TotalOrders
0       17688.9           11